{% include 'MAM/base.html' %} {% load static %} {% block content %}







<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 bg-white">
        <div class="col">
            <div class="card">
                <img src="{% static 'images/ones.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ALTERNATE</h5>
                    <p class="card-text">If the plan does not work then just change the plan not the goal….</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/twos.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="text-end">WISHES</h5>
                    <p class="card-text">🎂🍫💐🎂Wish you many more happy returns of the day mam 🎂 I hope you have great life ahead mam . mam i observe lots of time your very hard work person in our company " INTILEGENCE MAY BE FAILURE BUT NEVER INDUSTRY ". 💐💐💐 Once 🎂
                        again🎂 happy🎂 Birthday🎂 mam ........</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/suport.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">SUPPORT / WORK </h5>
                    <p class="card-text">when i not possible or i dont know that work at the time Try to do ...motivated mam at the time i am trining but i get the reults <br> Lots of Time I learn New Skills
                        <center>
                            <br> ---Sanchitha mam <br> <progress></progress> <br>
                        </center>

                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/okay.gif' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ACCEPT THE WORK</h5>
                    <p class="card-text">understanding the Situvation of my work dead line Every Time we Submit Work Before Dead line at the time mam very happy </p>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}