<marquee behavior="alternate" direction="left" bgcolor="info">
    <h1>....HAPPY BIRTHDAY MAM ....</h1>
</marquee>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <a class="navbar-brand" href="{% url 'home' %}">BIRTHDAY</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-secondary" aria-current="page" href="{% url 'home' %}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="{% url 'about' %}">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="{% url 'mam' %}">SANCHITHA MAM</a>
                </li>
            </ul>
            <h1 id="blink" class="text-primary">HAPPY BIRTH DYA SANCHITHA MAM</h1>
        </div>
    </div>

</nav>